.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Catamaran', sans-serif;
}

#player {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 15px 0px;
  color: #ffffff9c;
  display: flex;
  justify-content: space-between;
}

input {
  background-color: transparent;
  margin-left: 5px;
  border: 0;
  color: #ffffff9c;
  border-bottom: 1px solid #ffffff9c;
}

.playListButton {
  font-size: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Video {
  display: block;
  height: 100%
}

.PlayerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ArtistPreview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -50px;
  position: relative;
}

.SongTitle {
  color: #f68e02;
  font-weight: 100;
  margin: 0;
}

.ArtistNameTitle {
  color: #887f76;
  font-weight: 100;
  margin: 0;
}

.player-icon {
  color: #f68e02;
  font-size: 2em;
}

.playerButtons {
  display: flex;
  background-color: #00000059;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  border: 1px solid #ffffff57;
  border-left: 0;
  border-right: 0;
}

.PlayerInfo {
  width: 100%;
  position: absolute;
  bottom: 20px;
}

#player {
 -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
 background-color: #ccc;
}

.menuItem {
  display: flex !important;
  flex-direction: row;
  padding: 8px 4px;
}

.menuItem p {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
}

.menuItem p.ArtistNameTitle {
  font-size: .7em;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imageMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageMenu {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CircularProgressbar-path {
  stroke: #f68e02 !important;
  stroke-width: 1px;
}
.CircularProgressbar-trail      { stroke: #1f2017 !important; }
